<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="RegressionSuite" verbose="1">
	<test name="Regression1">
		<classes>
			<class name="employees.TestEmployees">
				<methods>
					<include name="test001" />
				</methods>
			</class>
			<class name="employee.TestEmployee">
				<methods>
					<include name="test002" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
